BODY {
	MARGIN: 0px
}
P {
	MARGIN: 0px
}
BODY {
	COLOR: #000; BACKGROUND-COLOR: #fff ;TEXT-ALIGN: center
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
TABLE {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
.TEXTAREA {
	FONT-SIZE: 12px; HEIGHT: 80px; WIDTH: 500px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"
}
A:link {
	COLOR: #036; TEXT-DECORATION: none
}
A:visited {
	COLOR: #036; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.menuChild:link {
	COLOR: #036; TEXT-DECORATION: none
}
A.menuChild:visited {
	COLOR: #036; TEXT-DECORATION: none
}
A.menuChild:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.menuParent:link {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.menuParent:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
TABLE.position {
	WIDTH: 100%
}
TR.position {
	HEIGHT: 25px; BACKGROUND-COLOR: #f4f7fc
}
TD.position {
	BORDER-RIGHT: #adceff 1px solid; PADDING-LEFT: 20px; BORDER-BOTTOM: #adceff 1px solid
}
TABLE.listTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee
}
TR.listHeaderTr {
	FONT-WEIGHT: bold; HEIGHT: 25px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TR.listTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
TR.listAlternatingTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #fffdf0; TEXT-ALIGN: center
}
TR.listFooterTr {
	HEIGHT: 30px; BACKGROUND-COLOR: #ebf4fd; TEXT-ALIGN: center
}
TABLE.editTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee 
}
TR.editHeaderTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #C6E2FF
}
TD.editHeaderTd {
	PADDING-LEFT: 50px; FONT-WEIGHT: bold
}
TR.editTr {
	HEIGHT: 30px
}
TD.editLeftTd {
	WIDTH: 70px; BACKGROUND-COLOR: #E0E0E0; TEXT-ALIGN: center
}
TD.editRightTd {
	WIDTH: 150px; PADDING-LEFT: 10px; BACKGROUND-COLOR: #fffdf0 
}
TR.editFooterTr {
	HEIGHT: 40px; BACKGROUND-COLOR: #ebf4fd
}
TD.editFooterTd {
	TEXT-ALIGN: center
}
TABLE.areaTable {
	WIDTH: 98%; BACKGROUND-COLOR: #b1ceee 
}
TR.areaHeaderTr {
	HEIGHT: 25px; BACKGROUND-COLOR: #C6E2FF
}
TD.areaHeaderTd {
	PADDING-LEFT: 50px; FONT-WEIGHT: bold
}
TR.areaTr {
	HEIGHT: 30px
}
TD.areaLeftTd {
	WIDTH: 10%; BACKGROUND-COLOR: #E0E0E0; TEXT-ALIGN: center
}
TD.areaRightTd {
	WIDTH: 90%; PADDING-LEFT: 10px; BACKGROUND-COLOR: #fffdf0 
}
TR.areaFooterTr {
	HEIGHT: 40px; BACKGROUND-COLOR: #ebf4fd
}
TD.areaFooterTd {
	TEXT-ALIGN: center
}
.BUTTON{
background-color:transparent;
background-image:url(../images/button.gif);
background-repeat: repeat-x;
border: outset 1px  #bbbbbb;
border-collapse:  separate;
vertical-align: bottom;
color:#333333;
cursor:pointer;
height:22px;
width:80px;
margin:3px 4px 3px 4px;
padding: 3px 3px 0px 3px;
}
